{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}

<section class="min-h-screen flex items-center justify-center px-4">

    <div class="w-full max-w-md bg-gray-800 p-8 rounded-xl shadow-lg">

        <h2 class="text-3xl font-bold text-center  mb-6">
            Login 
        </h2>

        
        {% if msg %}
         <p class="text-pink-400">{{msg}} </p>
            
        {% endif %}
            

        <form method="POST" action="{% url 'login_data' %}" class="space-y-5" >
            {% csrf_token %}
            
            
            <p class="text-2xl text-pink-400">{{msg1}}</p>

            <!-- Email -->
              
            <div>
                <label class="block mb-1 text-sm text-gray-300">Email</label>
                <input type="text" name="email" placeholder="Enter your email"
                    class="w-full px-4 py-2 rounded bg-gray-900 border border-gray-700 focus:outline-none focus:ring-2 focus:ring-pink-500">
            </div>

            <!-- Password -->
            <div>
                <label class="block mb-1 text-sm text-gray-300">Password</label>
                <input type="password" name="password" placeholder="Enter your password"
                    class="w-full px-4 py-2 rounded bg-gray-900 border border-gray-700 focus:outline-none focus:ring-2 focus:ring-pink-500">
            </div>

            <!-- Button -->
            <button type="submit"
                class="w-full bg-green-500 py-2 rounded hover:bg-green-600 transition font-semibold">
                Login
            </button>

        </form>

        <!-- Extra links -->
        <p class="text-center text-gray-400 mt-4">
            Don't have an account?
            <a href="{% url 'register' %}" class="text-red-400 hover:underline">
                Register
            </a>
        </p>

    </div>

</section>

{% endblock %}